.triangle-bottom-right {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 93.3vh 195.1vh;
    border-color: transparent transparent #12A672 transparent;
}

.entire-page{
    width: 196vh;
    height: 98vh;
}

.big-container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
/* //1000px 1887px */