.triangle-bottom-right-home {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 140vh 95.7vw;
    border-color: transparent transparent #12A672 transparent;
    position: absolute ;
    
}
.triangle-bottom-right-parcerias {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 105vh 95.7vw;
    border-color: transparent transparent #12A672 transparent;
    position: absolute ;
    
}
.triangle-bottom-right-sobre {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 100vh 95.7vw;
    border-color: transparent transparent #12A672 transparent;
    position: absolute ;
    
}
.triangle-bottom-right-contato {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 100vh 95.7vw;
    border-color: transparent transparent #12A672 transparent;
    position: absolute ;
    
}

.entire-page{
    width: 196vh;
    height: 98vh;
}

.big-container{
    position: relative !important;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    
}



.boxmodel {
position: relative ;
width: 120vh;
height: 60vh;
margin-bottom: 5vh;
margin-top: 5vh;
background: linear-gradient(180deg, rgba(24, 220, 152, 0.5) 91.67%, rgba(24, 220, 152, 0) 100%);
border-radius: 20px;


    
}

.box_content {
    justify-content: center;
    align-items: center;
    font-size: 20;
    margin: 4vh;
    text-align: justify;

    
}



#cards-grid{
    display: flex;
    flex-flow: nowrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: justify;
    margin-top: 60px;
    position: relative;
    /* margin-bottom: 100px; */
    
}


#divImage{
    width:40000px !important
    ;
}
    





