
.nav{
    display: flex;
    justify-content: space-evenly;
    align-items:center ;
    background-color: #12A672;
    height: 6vh;
}

.botoesNav{
    background-color: #12A672;
    color: white;
    font-size: 22px;    
}

body {
    background: #eee;
  }
  
 

